.variable-checkbox {
	margin-bottom: 1rem;
}

.center {
	justify-content: space-evenly;
	align-content: center;
}

.global-variables {
	float: right;
	margin-top: 0.75rem;
}

.table-container {
	margin-bottom: 1rem;
}
