@use '@angular/material' as mat;

:host {
	overflow-x: auto;
	margin: -6px;
}

.common-table {
	position: relative;
	width: 100%;
	padding: 6px;
}

.table-container {
	position: relative;
	min-height: 6em;
}

.spinner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	z-index: 2;
}

.mat-mdc-row {
	min-height: 49px;
}

.missing-filter-error {
	padding-left: 1rem;
}

.mdc-data-table__header-cell {
	font-weight: bold;
}

mat-row {
	transition: background-color 125ms ease-in-out;
}

.clickable-cell:hover {
	cursor: pointer;
}

@media screen and (min-width: 960px) {
	mat-table,
	mat-paginator {
		@include mat.elevation(3);
	}

	.action-menu-column {
		max-width: 4.2em;
		padding: 0 0.5em;
	}

	.cell-value {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.icon-cell,
	.mat-column-actions {
		max-width: 6em;
	}

	.date-cell,
	.datetime-cell {
		max-width: 14em;
	}
}

@media screen and (max-width: 960px) {
	.mat-mdc-table {
		border: 0;
		vertical-align: middle;
	}

	.mat-mdc-table caption {
		font-size: 1em;
	}

	.mdc-data-table__header-cell {
		padding: unset !important;
	}

	.mat-mdc-table .mat-mdc-row {
		display: block;
		line-height: 2rem;
		margin: 0.5rem;
		border-radius: 8px;
		@include mat.elevation(5);

		.loading {
			display: none;
		}
	}

	.mat-mdc-table .mat-mdc-header-row {
		line-height: 2rem;
		min-height: 2rem;
	}

	mat-header-row {
		flex-wrap: wrap;
		gap: 0.5rem;
		max-width: 100vw;
		flex-direction: row;
		padding-inline: 0.5rem;

		mat-header-cell {
			flex: unset;
		}

		mat-header-cell:first-of-type {
			padding-left: unset;
		}
	}

	.mat-mdc-table .mat-mdc-header-cell {
		width: unset;
	}

	.mat-mdc-table .mat-mdc-cell {
		display: grid;
		grid-template-columns: max-content minmax(5em, 80vw);
		justify-content: space-between;
		align-content: center;
		column-gap: 1.5em;
		font-size: 1em;
		text-align: right;
		font-weight: bold;
		height: 100%;
		padding: 0 1rem 0 1rem;
		line-height: unset !important;
	}

	.mat-mdc-table .mat-column-actions {
		padding: 0 0.5rem 0 1rem;
		.mdc-icon-button {
			justify-self: flex-end;
		}
	}

	.mat-mdc-table .mat-mdc-cell:not(:last-of-type) {
		border-bottom: 1px solid var(--mat-option-selected-state-layer-color);
	}

	.mat-mdc-table .mat-mdc-cell:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: normal;

		font-size: 0.85em;
	}

	.mat-mdc-menu-trigger,
	.icon-cell mat-icon {
		justify-self: flex-end;
	}

	.icon-cell mat-icon {
		margin-right: 4px;
	}
}

.hidden {
	display: none;
}

.icon-cell {
	justify-content: center;
}

:host ::ng-deep .mat-sort-header-container {
	position: relative;
	.mat-sort-header-arrow {
		position: absolute;
		right: -18px;
		margin: unset;
	}
}
