:host {
	padding-bottom: 0.5rem;
}

.inputs {
	display: grid;
	width: 100%;
	column-gap: 1rem;
	align-items: center;
}

.mat-mdc-form-field,
.value-filter,
.date-filter {
	width: 100%;
}

.filter-button {
	width: 100%;
}

.chip-separator {
	margin-right: 0.2rem;
}

.chip-value {
	display: -webkit-box;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

:host ::ng-deep {
	mat-chip-listbox {
		margin: 0;
		padding: 0 0.5rem 1rem 0;
	}

	.mat-header-cell.mat-columnn-actions {
		display: none;
	}

	.mat-mdc-chip-action-label {
		display: flex;
	}
}

mat-chip {
	max-width: calc(100% - 0.5rem);
}

.aligned-right {
	margin-left: auto;
}

@media screen and (min-width: 960px) {
	.inputs {
		display: flex;
		flex-direction: row;
		width: unset;
	}

	.value-filter,
	.mat-mdc-form-field {
		width: min(100%, 20rem);
		max-width: unset;
	}

	.date-filter {
		width: min(100%, 32rem);
		max-width: unset;
	}

	.filter-button {
		width: unset;
		margin-bottom: 1.25rem;
		max-width: 18rem;
	}
}
