<div class="datasheet-base">
	<div class="datasheet-title text-padding primary-color">{{ label }}</div>
	<div class="datasheet-value text-padding">
		<ngx-json-viewer *ngIf="jsonData" [json]="jsonData"></ngx-json-viewer>
	</div>
	<button
		*ngIf="hasCopy"
		class="datasheet-copy"
		mat-icon-button
		(click)="copyValue()"
		[matTooltipShowDelay]="500"
		[matTooltip]="'common.copyToClipBoard' | translate"
		[disabled]="!jsonData"
	>
		<mat-icon>content_copy</mat-icon>
	</button>
</div>
<mat-divider></mat-divider>
