mat-form-field {
	padding-bottom: 0;
	transition: padding 150ms ease-in-out;

	&.long-error-message {
		padding-bottom: 1.5rem;
	}
}

.visibility-icon {
	cursor: pointer;
}

::-ms-reveal {
    display: none;
}
