.mat-chip-list-wrapper {
	padding-bottom: 0.5rem;
}

:host ::ng-deep .mat-mdc-standard-chip .mat-mdc-chip-action-label,
:host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
:host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__cell--primary {
	max-width: 100%;
}

:host ::ng-deep .mat-mdc-chip-action,
:host ::ng-deep .mdc-evolution-chip__cell.mdc-evolution-chip__cell--primary,
:host ::ng-deep .mat-mdc-chip-focus-overlay,
:host ::ng-deep .mat-mdc-chip-ripple {
	min-width: 0;
	flex-grow: 0;
	flex-shrink: 1;
}
