.container {
	margin: 0.5rem;
	padding-bottom: 2rem;
	width: 25rem;
}

.button-container {
	display: flex;
	margin: 0.5rem;
	float: right;
	padding: 0.2rem;
	align-items: center;
}

button {
	margin-left: 1rem;
}
