:root {
	--right-side-menu-span-light: #e6e9e9;
}

:host {
	width: 100%;
}

.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.top-bar .items,
.right-side-menu {
	display: flex;
	align-items: center;
}

.right-side-menu span {
	font-size: 0.95rem;
	color: var(--right-side-menu-span-light);
}
