<div class="center">
    <h3>{{'navigation.saveRequest' | translate}}</h3>
        <form class="form-content" [formGroup]="form"  content novalidate>
            <text-input [label]="'common.name' | translate" formControlName="url" ></text-input>
            <div class="footer-buttons">
                <button type="button" preventDoubleClickOffline id="cancel" mat-button color="primary" mat-dialog-close>
                    {{ 'common.cancel' | translate }}
                </button>
                <button
                    type="button"
                    preventDoubleClick
                    id="request-add"
                    mat-raised-button
                    color="primary"
                    (click)="onSave()"
                    mat-dialog-close
                >
                    {{ 'common.save' | translate }}
                </button>
            </div>
        </form>
</div>
